<div class="container mt-5 welcome-1">
  <div class="row">
    <div class="col-5"></div>
    <div class="col-7">
      <div class="row mt-3 ml-3 welcome-4">
        <div class="col">At the right time, privately</div>
      </div>
      <div class="row mt-3 ml-5 welcome-5">
        <div class="col">Feedback is the most innovative way to give and receive opinions about anything you
          could
          possibly imagine. Our service is tailored so you can always have the best intentions when giving a feedback to
          anyone. <b>With Feedback, conflict is not an issue.</b></div>
      </div>
      <div class="row mt-3 welcome-6">
        <div class="col"><img src="/images/stefan-stefancik-297983-unsplash.png"></div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" id="benefits">
  <div class="row">
    <div class="col-10 justify-content-around">
      <div class="row">

        <div class="col-3">
          <div class="benefit-img"><img src="/images/benefit-1.png"></div>
          <div class="mt-3 benefit-title">Power</div>
          <div class="mt-3 benefit-description">You decide if you want to approve or refuse an incoming feedback.</div>
        </div>

        <div class="col-3">
          <div class="benefit-img"><img src="/images/benefit-2.png"></div>
          <div class="mt-3 benefit-title">Anonymity</div>
          <div class="mt-3 benefit-description">Because sometimes we just need to let it go, and for that your name is
            not needed.</div>
        </div>

        <div class="col-3">
          <div class="benefit-img"><img src="/images/benefit-3.png"></div>
          <div class="mt-3 benefit-title">Healthy</div>
          <div class="mt-3 benefit-description">Our community will help you to analyse your feedback.</div>
        </div>

        <div class="col-3">
          <div class="benefit-img"><img src="/images/benefit-4.png"></div>
          <div class="mt-3 benefit-title">Human</div>
          <div class="mt-3 benefit-description">Our goal is to help everyone develop better tools do deal with the
            anxiety and complexity of the feedback proccess.</div>
        </div>

      </div>

      <div class="row mt-5" id="bio">

        <div class="col-3 mt-2 bio-img"><img src="/images/bio-1.png"></div>
        <div class="col-9 mt-2">
          <div class="my-4 bio-name">Rodrigo Yoshimoto</div>
          <div class="my-4 bio-description">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel magna
            lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel magna lorem. “</div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-9 mt-2">
          <div class="my-4 text-right bio-name">Bruno Bocchi</div>
          <div class="my-4 text-right bio-description">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            vel magna
            lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel magna lorem. “</div>
        </div>
        <div class="col-3 mt-2 bio-img"><img src="/images/bio-2.png"></div>
      </div>


    </div>

    <div class="col-2">
      <div class="row">
        <img src="/images/g3822.png"></div>
    </div>
  </div>
</div>

