<div class="container mt-5 welcome-1">
  <div class="row">
    <div class="col-5"></div>
    <div class="col-7">
      <div class="row mt-3 ml-3 welcome-4"><div class="col">At the right time, privately</div></div>
      <div class="row mt-3 ml-5 welcome-5"><div class="col">Feedback is the most innovative way to give and receive opinions about anything you
        could
        possibly imagine. Our service is tailored so you can always have the best intentions when giving a feedback to
        anyone. <b>With Feedback, conflict is not an issue.</b></div></div>
      <div class="row mt-3 welcome-6"><div class="col"><img src="/images/stefan-stefancik-297983-unsplash.png"></div></div>

    </div>
  </div>

</div>