<form class="col-md-6 offset-md-3" id="form" action="/invite" method="POST">
  <h1>Ask your friends, family and coworkers to Feedback you!</h1>

  <div class="form-group">
    <label for="to">People we should invite:</label>
    <small id="emailHelp" class="form-text text-muted">Press ENTER to add a new e-mail. <br> We will send one invitation per e-mail, your list is safe with us!</small>

    <input type="text" class="form-control" id="tokenfield" name="emailList"></div>
 

  <div class="form-group">
    <label for="comments">Write a personal message to add to the invite:</label>
    <br><textarea name="comment" class="form-control"
      placeholder="This is the best way to send and receive feedback!! 100% guarantee your best interest!!"></textarea>
  </div>
  
   <button class="btn btn-primary">Send</button>


</form>