<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link href="../stylesheets/reset.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>

  <nav class="pt-0 navbar fixed-top navbar-light bg-white">
    <a href="/" class="pt-0 mx-5 navbar-brand"><svg width="250" height="94" viewBox="0 0 250 94" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
          <path
            d="M33.4239 40.8944C33.0924 41.323 33.1837 43.212 33.6315 45.1915C34.5834 49.3989 40.8206 54.9162 47.6951 57.6317C51.1563 58.9989 60.2946 61.8141 62.4861 62.1883C63.7122 62.3977 63.317 62.1126 60.5922 60.8223C58.6983 59.9254 56.6839 59.0395 56.1157 58.8536C55.056 58.5069 49.1186 54.7738 46.3196 52.6944C43.53 50.6221 40.7081 48.0424 37.1323 44.2956C35.2065 42.2778 33.5377 40.7472 33.4239 40.8944Z"
            fill="#6FCF97" />
          <path
            d="M49.9986 39.2983C50.5679 43.9012 53.9418 49.738 58.0718 53.2649C60.7136 55.5208 63.6948 57.5303 65.1904 58.0632C65.7586 58.2657 67.7913 59.1235 69.7075 59.9695C73.2929 61.5525 80.8296 63.7988 82.4992 63.7822C83.1511 63.7757 82.7312 63.4491 81.134 62.7201C79.8653 62.1412 77.6453 60.8431 76.2006 59.8356C74.756 58.8281 73.4293 58.0038 73.2524 58.0038C72.9131 58.0038 66.6908 53.1504 66.3956 52.6555C66.301 52.4968 64.9838 51.2949 63.4687 49.9849C61.9536 48.6748 58.2514 45.317 55.2416 42.5232L49.7692 37.4434L49.9986 39.2983Z"
            fill="#6FCF97" />
          <path
            d="M54.7517 32.5862C56.7484 33.9172 61.397 36.5534 65.082 38.4445C72.827 42.419 77.5868 45.4044 81.2441 48.5815C84.5663 51.4675 90.1677 58.5659 93.6103 64.2526C99.7867 74.4553 106.342 80.1373 114.652 82.4911C117.439 83.2804 126.255 83.938 127.273 83.4326C127.778 83.1824 127.622 82.9645 126.454 82.2886C124.566 81.1956 115.888 73.6175 110.819 68.6353C106.025 63.9238 101.794 58.8492 102.109 58.1898C102.26 57.8747 103.285 57.8127 105.137 58.0065L107.938 58.2995L106.56 56.7187C103.165 52.8213 96.7726 49.1529 78.6688 40.7111C75.2598 39.1215 69.927 36.4943 66.8181 34.8728C60.0135 31.3238 58.5239 30.7944 54.345 30.4397L51.1213 30.1662L54.7517 32.5862Z"
            fill="#6FCF97" />
          <path
            d="M76.3638 33.7C76.4845 33.866 77.9566 34.4781 79.635 35.0602C89.301 38.4124 101.63 42.9564 103.864 43.9902C106.753 45.3271 112.949 49.2073 115.055 50.998C116.567 52.2837 119.612 55.0722 123.741 58.9519C129.475 64.3394 133.202 66.0532 138.987 65.9623L141.913 65.9163L140.326 65.2867C138.48 64.5542 130.987 57.001 126.003 50.848C122.367 46.3592 120.617 44.7048 117.807 43.0979C115.108 41.5544 113.654 41.0986 99.0866 37.2272C87.6502 34.1878 85.9929 33.8531 81.3093 33.6367C78.4685 33.5055 76.243 33.5339 76.3638 33.7V33.7Z"
            fill="#6FCF97" />
          <path
            d="M161.357 53.2249C162.589 66.9896 168.046 73.6018 176.001 70.9668C177.21 70.5664 178.292 70.3569 178.405 70.5012C178.519 70.6455 178.805 71.4003 179.039 72.1785C179.458 73.5656 179.463 73.554 179.268 71.5901C179.019 69.0819 176.792 63.9153 174.571 60.6929C172.783 58.0986 168.344 54.0578 165.57 52.499C162.82 50.9539 162.934 51.427 165.827 53.5632C169.369 56.1794 171.335 58.0866 173.475 60.9846C176.868 65.5774 178.421 68.8519 176.31 66.9594C173.563 64.496 161.99 51.6791 162.1 51.2214C162.174 50.9153 161.986 50.6649 161.681 50.6649C161.211 50.6649 161.163 51.048 161.357 53.2249V53.2249Z"
            fill="#6FCF97" />
          <path
            d="M195.83 8.67367C192.361 9.24783 183.48 12.2362 178.66 14.4515C177.308 15.0726 173.568 17.2925 170.348 19.3847C167.129 21.4769 163.022 24.1455 161.223 25.315C156.999 28.0609 154.174 29.2815 150.549 29.9266C147.916 30.395 147.223 30.3478 143.662 29.4583C141.484 28.9143 136.99 27.5791 133.676 26.4912C126.119 24.0106 120.335 22.6678 108.883 20.7347C103.417 19.8119 85.7982 20.0797 75.8264 21.2371C71.1864 21.7757 66.5378 22.3658 65.4962 22.5484L63.6023 22.8805L66.8735 23.397C70.8587 24.0262 74.764 24.4392 84.9515 25.3087C94.9917 26.1657 100.721 27.4307 109.228 30.6683C113.664 32.357 121.586 36.2548 125.994 38.9179C133.704 43.5757 141.5 46.2172 147.504 46.2061C153.858 46.1944 157.396 44.543 162.445 39.231C171.99 29.1899 174.31 27.3281 185.844 20.4499C188.306 18.9817 191.637 16.991 193.247 16.026C196.603 14.0144 205.814 9.25969 206.355 9.25969C206.554 9.25969 206.621 9.05935 206.504 8.81448C206.302 8.3917 198.18 8.28456 195.83 8.67367V8.67367Z"
            fill="#6FCF97" />
          <path
            d="M230.407 6.32267C230.328 6.4214 228.017 7.14988 225.271 7.94154C218.69 9.83851 200.559 17.9261 193.896 21.9366C192.876 22.5505 191.797 23.0547 191.498 23.0571C190.848 23.0623 182.571 27.6748 179.645 29.6621L177.579 31.0653L179.301 30.8508C180.248 30.7329 183.579 30.4267 186.704 30.1704C197.308 29.3009 203.411 28.0879 208.059 25.9258C212.652 23.7893 214.267 22.5254 219.057 17.3187C221.076 15.1246 225.211 11.406 229.874 7.59196C230.846 6.79715 231.396 6.14601 231.096 6.145C230.796 6.14411 230.486 6.22394 230.407 6.32267V6.32267Z"
            fill="#6FCF97" />
          <path
            d="M230.778 21.748C230.116 22.4572 229.42 23.0431 229.231 23.05C229.041 23.0569 228.421 23.5824 227.853 24.2178C225.99 26.3015 218.152 30.9445 212.266 33.4511C202.649 37.5469 191.284 40.941 180.162 43.039L175.858 43.8509L179.129 44.1645C185.312 44.7571 189.302 45.3906 196.44 46.9131C200.375 47.7522 204.642 48.4388 205.924 48.4388C210.416 48.4388 214.36 46.4889 218.527 42.2071C221.208 39.4524 226.002 32.7191 227.879 29.0719C228.509 27.8475 229.747 25.4835 230.631 23.8184C231.515 22.1534 232.18 20.7163 232.11 20.6248C232.039 20.5334 231.44 21.0389 230.778 21.748V21.748Z"
            fill="#6FCF97" />
          <path
            d="M213.907 0.17261C212.149 0.714653 189.297 3.69986 180.162 4.58099C176.28 4.95546 170.314 5.60281 166.905 6.01954C163.496 6.43627 157.685 6.77635 153.992 6.77529C147.335 6.77352 147.211 6.75563 139.53 4.69276C128.844 1.82308 125.23 1.25292 114.909 0.808007C102.814 0.286595 99.7311 0.636383 83.2298 4.40265C73.9866 6.51231 68.4824 8.04648 65.1518 9.44152C63.7534 10.0273 63.703 10.0936 64.6353 10.1212C66.6932 10.1824 85.4564 8.79035 92.0105 8.09029C104.853 6.71859 109.857 7.13553 124.723 10.8156C136.682 13.7762 137.888 13.9366 147.966 13.9087C157.756 13.8815 159.052 13.7283 172.242 11.0399C182.138 9.02294 214.279 1.04809 216.146 0.146732C216.582 -0.0639433 214.601 -0.04104 213.907 0.172597V0.17261Z"
            fill="#6FCF97" />
          <path
            d="M196.692 50.8921C202.407 51.226 204.957 51.6927 210.122 53.3503C215.174 54.9719 217.474 56.1214 223.081 59.8276C228.727 63.559 234.686 69.499 238.745 75.4394C239.952 77.2071 241.306 79.1658 241.753 79.792C242.883 81.3755 246.622 88.7621 246.622 89.411C246.622 91.2139 229.332 92.1546 221.764 90.7635C213.156 89.1811 203.613 84.8458 198.125 80.0234C197.438 79.4204 196.694 78.9271 196.471 78.9271C195.932 78.9271 192.83 75.7974 190.589 72.9939C189.599 71.7558 188.702 70.8554 188.596 70.9931C188.39 71.2591 194.543 78.9271 194.962 78.9271C195.098 78.9271 196.503 80.0468 198.085 81.4152C204.654 87.1002 212.67 91.11 221.171 92.9629C225.787 93.9693 234.946 94.299 240.278 93.6509C244.058 93.1913 249.654 92.021 249.997 91.6183C250.116 91.4773 247.112 84.9119 245.692 82.2132C243.841 78.6935 238.459 71.1116 235.578 67.9666C224.534 55.9066 212.234 50.316 197.165 50.5068L191.355 50.5804L196.692 50.8921Z"
            fill="#6FCF97" />
          <path
            d="M0.227854 0.106823C-0.12932 3.89526 -0.0410204 7.99039 0.315317 11.7971C0.482869 13.5865 0.782838 15.1472 1.07979 15.7747C1.3486 16.3427 2.61931 17.8387 3.90357 19.0992C5.18784 20.3597 7.43439 22.9697 8.89592 24.8993C15.2239 33.2536 18.9219 36.4077 22.7658 36.7293C26.2129 37.0176 29.8652 35.6077 34.141 32.3381C37.1754 30.0178 37.994 29.7272 42.6193 29.329C48.6946 28.8058 51.9816 27.8419 55.3358 25.6C56.9393 24.5283 57.9264 23.5162 60.081 20.735C61.5774 18.8036 62.8003 17.1068 62.7988 16.9644C62.7962 16.8219 61.6868 16.3602 60.3312 15.9382C55.111 14.3135 51.1362 11.672 48.2369 7.90079C47.2555 6.62433 45.784 0.950471 45.4042 0.099782L0.227854 0.106823ZM28.9896 23.4391C29.4308 24.5288 29.4353 24.6664 29.0536 25.4196C28.7174 26.083 28.4715 26.2112 27.6907 26.1299C24.3693 25.7432 16.9899 24.4262 16.6339 19.2027C16.5646 17.9445 17.2188 16.5086 18.0277 16.1437C21.7574 15.6702 27.2119 19.3607 28.9896 23.4391H28.9896Z"
            fill="#6FCF97" />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="250" height="93.985" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </a>

    {{#if currentUser}}

    <ul class="nav nav-pills nav-fill mr-auto">
      <li class="nav-item">
        <div class="nav-link">Hi, {{currentUser.name}}</div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inbox">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/edit-profile">Edit Profile</a>
      </li>
    </ul>

    <a class="mx-5 btn btn-primary btn-lg" href="/inbox/create" role="button">New Feedback</a>
    <a class="mx-1 btn btn-primary btn-lg" href="/logout" role="button">Logout</a>

    {{else}}

    <ul class="nav nav-pills nav-fill mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Why Feedback?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

    <a class="mx-5 btn btn-primary btn-lg" href="/login" role="button">Get Started</a>

    {{/if}}
    </div>
  </nav>

  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../javascripts/script.js"></script>

</body>

</html>