@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  padding-top: 100px;
  font-family: Montserrat !important;
  color: #333333;
  overflow-x: hidden !important;
}

.btn-primary {
  background-color: #6fcf97;
  border: 0;
}

.btn-primary:hover {
  background-color: #219653;
  border: 0;
}

.btn-primary:active {
  background-color: #27ae60 !important;
  border: 0 !important;
  box-shadow: none !important;
}

nav {
  justify-content: flex-start;
}

.nav-link {
  color: #333333;
  font-size: 24px;
}

.welcome-1 {
  left: 50px;
  top: 142px;

  background: url(/images/alesia-kazantceva-283287-unsplash.png);
  background-repeat: no-repeat;
}

.welcome-4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: normal;

  text-shadow: 0px 4px 4px rgba(242, 242, 242, 0.5);
}

.welcome-5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}

.welcome-6 img {
  width: 100%;
  height: auto;
}

.benefit-img {
  text-align: center;
}

.benefit-title{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: normal;
text-align: center;

color: #000000;
}

.benefit-description {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;
text-align: center;

color: #000000;
}

.bio-img {
  text-align: center;
}

.bio-name {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: normal;

color: #000000;
}

.bio-description {
  font-family: Montserrat;
font-style: italic;
font-weight: 300;
font-size: 20px;
line-height: normal;

color: #000000;
}

.footer{
  background: #F2F2F2;
}

.footer-quote {
  font-family: Montserrat;
font-style: italic;
font-weight: 200;
font-size: 16px;
line-height: normal;

color: #000000;

}

span.nav-link{
  cursor:pointer;
}

.badge {
  background: #C4C4C4;
  border-radius: 5px;  
  padding: .1em .2em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  
  color: #000000;
}

/* #accept-refuse{
  margin: 0px;
  width: auto;
} */