@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  padding-top: 100px;
  font-family: Montserrat !important;
  color: #333333;
  overflow-x: hidden !important;
}

.btn-danger {
  border: 0 !important;
} 

.btn-warning {
  border: 0 !important;
}

.btn-primary {
  background-color: #6fcf97;
  border: 0;
}

.btn-primary:hover {
  background-color: #219653;
  border: 0;
}

.btn-primary:active {
  background-color: #27ae60 !important;
  border: 0 !important;
  box-shadow: none !important;
}

nav {
  justify-content: flex-start;
}

.nav-link {
  color: #333333;
  font-size: 24px;
}

.welcome-1 {
  left: 50px;
  top: 142px;

  background: url(/images/alesia-kazantceva-283287-unsplash.png);
  background-repeat: no-repeat;
}

.welcome-4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: normal;

  text-shadow: 0px 4px 4px rgba(242, 242, 242, 0.5);
}

.welcome-5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}

.welcome-6 img {
  width: 100%;
  height: auto;
}

.benefit-img {
  text-align: center;
}

.benefit-title{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: normal;
text-align: center;

color: #000000;
}

.benefit-description {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: normal;
text-align: center;

color: #000000;
}

.bio-img {
  text-align: center;
}

.bio-name {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: normal;

color: #000000;
}

.bio-description {
  font-family: Montserrat;
font-style: italic;
font-weight: 300;
font-size: 20px;
line-height: normal;

color: #000000;
}

.footer{
  background: #F2F2F2;
}

.footer-quote {
  font-family: Montserrat;
font-style: italic;
font-weight: 200;
font-size: 16px;
line-height: normal;

color: #000000;

}

span.nav-link{
  cursor:pointer;
}

.badge {
  background: #C4C4C4;
  border-radius: 5px;  
  padding: .1em .2em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  
  color: #000000;
}

.italic{
  font-style: italic;
}

/* #accept-refuse{
  margin: 0px;
  width: auto;
} */


.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #27ae60;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
